*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 100px;
}

.calculator{
  max-width: 600px;
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
}

.screen {
    width: 85%;
    height: 60px;
    font-size: 40px;
    padding: 10px;
    background-color:lightslategrey;
}

.btn {
  background: lightblue;
  padding: 20px;
  text-align: center;
  width: calc(20%); /* Hace que 4 elementos ocupen una fila */
  box-sizing: border-box;
}